<div class="main-left">
    <ul>
        <% if (is_admin) { %>
        <li class="main_item">
            <a href="/findUsers" class="users">用户管理</a>
        </li>
        <% } %>

        <li class="main_item">
            <a href="/mobile-manager" class="mobile">手机管理</a>
        </li>

        <li class="main_item">
            <a href="/brand-manager" class="brand">品牌管理</a>
        </li>

    </ul>
</div>
